* {
	box-sizing: border-box;
	font-weight: 300;
	margin: 0;
	padding: 0;
    font-family: 'Quicksand', sans-serif;
}
html {
    width: 100%;
    min-height: 100%;

}
body {
	background-color: #CAD6E5;
    width: 100%;
    min-height: 100%;
}
.wrapper {
    margin: 0 auto;
    padding: 100px 0 100px 0;
    width: 100%;
    height: 100%;
}
.main-container {
	background-color:#ffffff;
	width: 400px;
	height:auto;
    margin:auto;
    min-height: 100%;
    margin: 0 auto;  
	box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
	overflow: hidden;
    border-radius: 8px;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    color: #555;
    font-size: 16px;
    position: relative;
    height: 100vh;
    font-weight: 400;
}

.right { float: right; }
.red { color: #FF5049 !important; }
.red-focus:focus { border: 1px solid #FF5049 !important; }

/**********************************************
*** TOP PART
**********************************************/

.top {
    height: 150px;
    background: linear-gradient(to bottom, rgba(131, 56, 236, 0.8) 0%, rgba(131, 56, 236, 0.6) 100%), url(https://s7.postimg.org/yap5ueygr/back.png);
    position: relative;
    border-radius: 0 0 100% 100%;
    width: 140%;
    margin-left: -20%;
    z-index: 2;
    margin-bottom: 20px;
}
/* .top::before {
    content: '';
    background-color: #f7f7f7;
    height: 200px;
    width: 100%;
    border-radius: 0;
    position: absolute;
    z-index: 0;
} */

.title {
    position: absolute;
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}
.title h1 {
    font-size: 26px;
    text-align: center;
    font-weight: 300;
    margin-bottom: 10px;
    font-family: 'Montserrat Alternates', Arial, sans-serif;
}
.title h2, .title h2 span{
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 300;
	text-transform: none;
    
}


/**********************************************
*** BOTTOM PART
**********************************************/

/***** FORM *****/
.add {
    padding: 14px;
    background-color: #f7f7f7;
    display: none;
    -webkit-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
    height: 100px;
    margin-top: -40px;
    z-index: 1;
}

.add__container {
    margin: 0 auto;
    text-align: center;
	position: relative;
    top: 20px;
}

.add__description {
    background-color: #f7f7f7;
    font-family: inherit;
    font-size: 20px;
    padding: 20px 15px 12px;
    transition: border 0.3s;
	width: 100%;
	border:none;
    color: #939CA7;
}

.add__btn {
    font-size: 40px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-family: 'Montserrat Alternates', Arial, sans-serif;
    line-height: 1.1;
    margin-left: 10px;
	background-color: #FF006E;
	border-radius:100%;
    height: 50px;
    width: 50px;
    bottom: -22px;
    position: absolute;
	left:0;
	right:0;
	margin: 0 auto;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
    z-index: 2;
}
.add__btn:active { transform: translateY(2px); }
.add__description:focus {
    outline: none;
    border: none;
}
.add__btn:focus { outline: none; }

/***** LISTS *****/
.container {
    width: 100%;
    margin:auto;
	padding:10px;
}

.item {
    padding: 15px;
	width:170px;
	height:170px;
	border-radius:8px;
	font-size:18px;
	color:#fff;
	float: left;
	margin:10px;
    position: relative;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
}

.item__description {
    word-break: break-all;

}
.income .item__delete--btn {
    color: #fff;
}
.item__delete--btn {
    font-size: 22px;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    display: none;
        position: absolute;
    bottom: 10px;
    right: 12px;
}

.item__delete--btn:focus { outline: none; }
.item__delete--btn:active { transform: translateY(2px); }
.item:hover .item__delete--btn { display: block; }

i {
	color: #ffffff;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #CAD6E5;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #CAD6E5;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #CAD6E5;
}
:-moz-placeholder { /* Firefox 18- */
  color: #CAD6E5;
}

